<mat-card>
  <!-- Customer Contact Information Start -->
  <mat-card-title>Customer Contact Information</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">

      <section>
        <mat-form-field>
          <input matInput type="text" placeholder="First Name" formControlName="firstName">
        </mat-form-field>
      </section>

      <section>
        <mat-form-field>
          <input matInput type="text" placeholder="Last Name" formControlName="lastName">
        </mat-form-field>
      </section>
      <button mat-raised-button (click)="reset()" style="margin-bottom: 20px;">Reset</button>
      <!-- Customer Contact Information End -->

      <!-- Address Section Start -->
      <mat-card-title id="nestedTitle">Address</mat-card-title>
      <div class="addressContainer" formGroupName="address">
        <section>
          <mat-form-field>
            <input matInput type="text" placeholder="Street" formControlName="street">
          </mat-form-field>
        </section>

        <section>
          <mat-form-field>
            <input matInput type="text" placeholder="City" formControlName="city">
          </mat-form-field>
        </section>

        <section>
          <mat-form-field>
            <input matInput type="text" placeholder="State" formControlName="state">
          </mat-form-field>
        </section>

        <section>
          <mat-form-field>
            <input matInput type="text" placeholder="Zip" formControlName="zip">
          </mat-form-field>
        </section>
      </div>
      <button mat-raised-button (click)="fillDefaultAddress()" style="margin-bottom: 20px;">Fill Default
        Address</button>
      <!-- Address Section End -->

      <!-- Phone Number Start -->
      <!-- Read the README.md in the folder to understand the numbers -->
      <section formArrayName="phoneNumbers"> <!-- (1) -->
        <mat-card-title id="nestedTitle">Phone Numbers</mat-card-title>
        <section *ngFor="let phone of phoneNumbers.controls; let i=index"> <!-- (2) -->
          <div [formGroupName]="i"> <!-- (3) -->

            <mat-form-field style="margin-right: 20px;">
              <input matInput type="text" placeholder="Alias" formControlName="alias"> <!-- (4) -->
            </mat-form-field>

            <mat-form-field style="margin-right: 20px;">
              <input matInput type="text" placeholder="Number" formControlName="number"> <!-- (5) -->
            </mat-form-field>

            <button mat-raised-button (click)="addPhone()" *ngIf="i == phoneNumbers.controls.length-1">Add</button>
            <!-- (6) -->
          </div>
        </section>
      </section>
      <!-- Phone Number End -->
    </form>

  </mat-card-content>
</mat-card>

<!-- Form Model -->
<mat-card>
  <mat-card-title>Form model</mat-card-title>
  <mat-card-content>
    <pre>First name: {{ form.controls['firstName'].value | json }}</pre>
    <pre>Form Group: {{ form.value | json }}</pre>
  </mat-card-content>
</mat-card>